* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    font-family: Poppins;
    height: 100%;
    width: 100%;
}

body {
    background-color: #232830;
    min-height: 100vh;
    display: flex;
    padding: 25px;
    align-items: center;
    flex-direction: column;
    /* overflow: auto; */
}

header {
    width: 80%;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 10px;
}

#page-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo {
    height: 100px;
    width: auto;
    margin-top: 30px;
}

#category-listing {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: center;
    color: #909090;
}

hr {
    border-style: inset;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.104);
}

span {
    margin-right: 20px;
}

#category-container {
    text-wrap: nowrap;
    display: flex;
    justify-content: space-evenly;
    font-family: Recursive;
    font-style: italic;
    font-weight: 400px;
}

img[class='category-icon'] {
    margin-right: 10px;
}

#category-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 15px;
    width: 15px;
}

#list {
    height: 15px;
    width: 15px;
    margin-right: 25px;
}

/* #first-category {
    margin
} */

h1 {
    font-family: Recursive;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FF7575;
    padding-top: 20px;
}

h2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 15px;
    padding-bottom: 60px;
}

#article-container {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 80%;
    /* max-height: 10%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#article-card {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.959);
    width: 30%;
    max-width: 350px;
    min-height: 10%;
    border-radius: 30px;
    border: 1px solid #252930;
    color: #0F1217;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: column;
    flex: 0 1 32%;
    /* margin-left: 0px; */
}

#article-img {
    min-width: 100%;
    /* min-width: 330px; */
    height: 160px;
    /* height: auto; */
    border-radius: 30px;
}

#article-footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#dot {
    margin-right: 20px;
}

#pagination {
    margin-bottom: 120px;
    font-family: Recursive;
    font-style: italic;
    font-size: 20px;
    color: #909090;
}

#pag-numbers {
    margin-right: 15px;
}

#pag-numbers:hover {
    text-decoration: overline #FF7575;
}

#footer {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blue-rectangle {
    background-color: #4699E0;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
    padding: 4px;
}

#footer-span {
    margin-right: 0;
}